body{
    font-family: Arial, Helvetica, sans-serif;
    font-size:medium;
}

div {
    border-style: solid;
    border-width: 1.2px;
    border-color: grey;
}

footer {
    border-style: solid;
    border-width: 1.2px;
    border-color: red;
    float: left;
}

table{
    position: relative;  /*To order the page */
    float:left;  /*To order the page on one specific side*/
    top: -100px
}

table, td, th {
    border: solid 2px #3399CC;
    border-collapse: collapse;
    padding: 0 0.5em;
    text-align: center;
}

tr:nth-of-type(odd){
    background: #F5FAFC;
}


.text{
    text-align: left;
}

.headerima{
    position: relative; /* To order the page */
    float:left; /* To order the page on one specific side*/
    width: 1246px;
    height: 250px;
}

.headertit{
    position: relative; /* To order the page */
    float: right; /* To order the page on one specific side*/
    top: -250px;
    right: 50px;
    color: aliceblue;
    font-size: 50px;
}

.navbar {
    display: flex;
    background-color: rgba(1, 1, 77, 0.728);
    width: 1247px;
    position: relative; /* To order the page */
    float: left; /* To order the page on one specific side*/
    top: -165px;
}

.nav-list {
    list-style-type: none;/* To delate the boulets */
    margin: 10px;
    padding: 0;
}

.nav-list li {
    display: inline; /* to create a list horizontal  */
}

.nav-list li a {
    text-decoration: none; /* To delate the undercore in the link*/
    color: white; /* To change de color of the letter in the link*/
    font-size: 18px;
    padding-left: 115px;
    padding-right: 115px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-list li a:hover { /* To change the color on hover on the link text */
    color: rgba(1, 1, 77, 0.728);;
    background-color: white;
}

.bodyima1{
    position: relative; /* To order the page */
    float:left; /* To order the page on one specific side*/
    width: 400px;
    bottom: 36px;
    left: 30px;
}

.bodytit{
    position: relative; /* To order the page */
    float: left; /* To order the page on one specific side*/
    width: 300px;
    bottom: 100px;
    left: 35px;
}

.bodytex{
    position: relative; /* To order the page */
    float: left; /* To order the page on one specific side*/
    width: 700px;
    bottom: 130px;
    left: 90px;
}

.bodytit1{
    position: relative; /* To order the page */
    float: left; /* To order the page on one specific side*/
    width: 300px;
    bottom: 100px;
    left: 35px;
}

.bodytex1{
    position: relative; /* To order the page */
    float: left; /* To order the page on one specific side*/
    width: 700px;
    bottom: 130px;
    left: 90px;
}